* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.blob1{
    position: absolute;
    right: 0;
    max-width: 100px;
}


.blob2{
    position: absolute;
    bottom: 0;
    max-width: 100px;
}

.blob3, .blob4 {
    width: 100px;
}

.blob3 {
    right: 0px;
    position: absolute;
    z-index: -10;
}

.blob4 {
    bottom: 0px;
    position: relative;
}

.quiz-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    color: #293264;
}

.description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #293264;
    margin-top: .5em;
    margin-bottom: 1.4em;
}

.start {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    text-align: center;
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 15px;
    width: 50%;
    padding: 1em;
    cursor: pointer;
}

.question-container {
    display: flex;
    flex-direction: column;
}

.question-title {
    color: #293264;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: #293264;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.options{
    display: flex;
    margin-top: .5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.option {
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    padding: .3rem .7rem;
    font-weight: 500;
    font-size: 12.24px;
    cursor: pointer;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto;
    z-index: 10;
}

.question {
    margin-top: 0;
    padding-bottom: 1rem;
    border-bottom: 0.794239px solid #DBDEF0;
}

.check-btn {
    background-color: #4D5B9E;
    padding: 1em 2em;
    color: white;
    border: 0;
    border-radius: 7.94239px;
}

.check-btn:focus {
    outline: none;
}

.check-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.correct-answer {
    background-color: #94D7A2;
    color: #293264;
    border: 0.794239px solid #94D7A2;
    border-radius: 7.94239px;
    padding: .3rem .7rem;
    font-weight: 500;
    font-size: 12.24px;
    cursor: pointer;
}

.btn-container {
    margin: .4em auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.score-text {
    font-size: 1rem;
    color:#293264;;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Loading Page */
.dot-box {
    place-items: center;
    display: grid;
    height: 100vh;
}

.dots {
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side,#293264 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#293264 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#293264 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1s infinite linear;
 }
 
 @keyframes dots-7ar3yq {
    20% {
       background-position: 0%   0%, 50%  50%,100%  50%;
    }
 
    40% {
       background-position: 0% 100%, 50%   0%,100%  50%;
    }
 
    60% {
       background-position: 0%  50%, 50% 100%,100%   0%;
    }
 
    80% {
       background-position: 0%  50%, 50%  50%,100% 100%;
    }
 }

@media only screen and (max-width: 870px) {
    .options{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: .5rem;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}
